// Fonts
@import url('https://fonts.googleapis.com/css?family=Muli:700|Open+Sans:400,700');
$open:			'Open Sans', sans-serif;
$muli:			'Muli', sans-serif;

// Colors
$yellow: 		#f1cf00;
$red: 			#e6332a;
$blue: 			#312783;
$black: 		#000000;
$gray: 			#878786;
